*.pyc
__pycache__
*.egg-info
/dist/
/build/
/node_modules/

# venv
env
/bin/
/lib/
/share
/pyvenv.cfg
/pip-selfcheck.json
media
.env
fb-auth.json
db.sqlite3
prueba2-de8dc-firebase-adminsdk-j3vqi-b19b109b3f.json
pruebas.py